.product-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease-in-out;
  width: 180px;
}

.product-image {
  width: 100px;
  max-height: 100px;
  object-fit: contain;
}

.product-title {
  font-size: 18px;
  margin: 10px 0;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
}

.add-to-cart {
  background: bisque;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.add-to-cart:hover {
  background: rgb(255, 140, 0);
  color: black;
}
